/myTasksDesktopClient/pom.xml.releaseBackup
/myTasksServer/pom.xml.releaseBackup
/myTasksServer/nb-configuration.xml
/release.properties
/pom.xml.releaseBackup
/myTasksDesktopClient/node_modules/
/myTasksDesktopClient/target/
/myTasksDesktopClient/bower_components/
/myTasksDesktopClient/dist/